 * {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

 body {
    min-height: 100vh;
    background-image: linear-gradient(#FFFFFF, #EBDCFF);
 }

 img {
    width: 100%;
 }

 .btn {
    background-color: #872BFF;
    border-radius: 30px;
    padding: 16px 32px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
 }

 .btn-white {
    /* background-color: #872BFF; */
    border-radius: 30px;
    padding: 16px 32px;
    /* color: white; */
    cursor: pointer;
    margin-right: 20px;
    border: 2px solid #872BFF;

 }

 .heading-content {
    text-align: center;
    margin-bottom: 30px;
 }

 .heading-content h4 {
    color: #F411CF;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 4px;
    margin-bottom: 15px;
 }

 .heading-content h2 {
    font-size: 44px;
    font-weight: bold;
 }

 #banner {
    border: 2px solid #872BFF;
    margin: 100px auto 120px auto;
    padding: 20px 32px;
    background-image: url(../images/hero-bg.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87.5%;
    border-radius: 40px;
    background-color: white;
 }

 /* .banner-content h1 {
    width: 70%;
 } */

 .banner-content {
    width: 50%;
 }

 .banner-content * {
    margin-bottom: 20px;
 }

 .banner-content p {
    font-weight: medium;
    font-size: 18px;
    color: #A8A8A8;
 }

 .banner-content h1 {
    font-size: 70px;
    font-weight: bold;
 }

 .banner-content h1 span {
    color: #F411CF;
 }

 .banner-image {
    width: 50%;
 }

 /* .banner-image img{
    width: 600px;
 } */
 #service,
 #story,
 #country {
    width: 87.5%;
    margin: 0px auto 120px auto;
 }

 #service-card-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
 }

 .service-card {
    background-color: white;
    padding: 100px 60px;
    text-align: center;
    max-width: 350px;
    border-radius: 30px;
 }

 .service-card img {
    width: 80px;
    margin-bottom: 30px;
 }

 .service-card h2 {
    font-weight: semibold;
    font-size: 28px;
    margin-bottom: 20px;
 }

 .service-card p {
    color: #A8A8A8;
    font-size: 18px;
 }

 .story-card {
    background-color: white;
    display: flex;
    gap: 20px;
    padding: 40px;
    border-radius: 24px;
 }

 .story-content h2,
 .story-content p,
 .story-content img {
    margin-bottom: 30px;
 }
 .story-content{
   width: 60%;
 }
 .story-image{
   width: 40%;
 }
.story-content img {
   width: 100px;
}
 #country-card-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
 }

 #country-card-container h2 {
    background-color: white;
    padding: 40px;
    border-radius: 30px;
 }